html {
  
    scroll-behavior: smooth;
}

body {
    margin: 0px auto; 
    background-color: black;
}

nav {
    text-align: left;
    left: 6vw;
    position: fixed;
    top: 13vh;
    z-index: 1;
    color: white;
    font-family:'Palatino', 'Garamond', serif;    
    mix-blend-mode: difference;
}

.nav-buttonbig {
    font-size: 30px;
    margin-bottom: 20px;
}

.nav-button {
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.nav-button:hover {
    cursor: pointer;
        -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 6px;
}

h2 {
    font-weight: 100;
    font-size: 24px;
}

nav ul, footer ul {
    display: block;
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    padding: 0px;
    list-style: none;
    /*font-weight: bold;*/
    width:100%;
    text-align: right;
}

nav ul li, footer ul li {
    display: inline-block;
    margin-right: 20px;
    text-align: right;
}

a {
    text-decoration: none;
    color: white;
}

.mini-link {
    color: white;
    transition: 0.3s ease-in-out;
}

.mini-link:hover {
    color: #34cc2c;
}

.post-title, .blog-title {
    position: relative;
    top: 20px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Georgia', serif;
    font-size: 1.8em;
}

.meta {
    position: relative;
    top: 20px;
    text-align: center;
    font-family: 'Georgia', serif;
}

h1 {
    color: white;
    margin-left: 7%;
    font-size: 35px;
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 5;
}

.wrap-button {
    text-align: center;
}

.main-button {
    position: relative;
    border-radius: 30px;
    background-color: #1cc9d2;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: "Anonymous Pro", monospace;
    width: 160px;
    height: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 50vh;
}

.main-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.main-button span:after {
    content: '\21af';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.main-button:hover span {
    padding-right: 25px;
}

.main-button:hover span:after {
    opacity: 1;
    right: 0;
}

.container {
    width: 100%;
    /*background-image: url("https://calculasians.github.io/light-veneer.png");*/
}

.cover-page { 
    position: relative
    width: 100%;
    height: 100vh;
    background-image: url("../CraterLake1.jpg");
    background-size: cover;
    box-sizing: border-box;
    filter: brightness(95%);

}

.cover-page-box {
    display: inline-block;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vh;
    border: 1px white;
}

.cover-page-header {
    text-align: center;
    font-size: 30px;
}

.cover-page-text {
    text-align: center;
    position: inline-block; 
    color: white;
    mix-blend-mode: difference;
    padding-bottom: 40px;
}

.sub-header {
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.1em;
    color: white;
    mix-blend-mode: difference;
}

pre {
    white-space:pre-wrap;
}

.blog-posts {
    position: relative;
    top: 5px;
    margin-left: 18%;
    margin-right: 18%;
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    font-style: italic;
    font-size: 1em;
}

p {
    color: white;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 1.15em;
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    line-height: 1.4em;
}
footer {
    margin-left: auto;
    margin-right: auto;
    width: 85%;   
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
}

ul.posts li {
    position: relative;
    top: 20px;
    list-style: none;
    margin-left: 7%;
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    font-style: italic;
}

/* #about is deprecated */
#about {
    margin-left: 7%;
    margin-right: 7%;
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5em;
}

#about-page {
    background-color: black;
    position: relative;
    height: 90vh;
    padding-top: 60px;
}

#about-desc {
    color: white;
    position: absolute;
    margin-left: 10vw;
    left: 100px;
    top: 100px;
    width: 50%;
}

#about-pic {
    position: absolute;
    right: 0px;
    top: 120px;
    width: 40%;
}

#writings-page {
    background-color: black;
}

#writings {
    color: white;
    margin-left: 13vw;    
    margin-right: 7%;
    height: 60vh;
}

.blog-title {
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.posts {
    color: white;
}

.blog-posts {
    color: white;
}

#resume-background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../yellowstone.jpg");
    background-size: cover;
    box-sizing: border-box;
}

#resume-content {
    display: inline-block;
    width: 75%;
    height: 95vh;
    margin-left: 20vw;
    margin-top: 5vh;
}

#projects {
    position: relative;
    background-color: lightgrey;
    padding-top: 30px;
    padding-bottom: 40px;
}

.resize {
    object-fit: cover;
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

#proj-box {
    padding-left: 20vw;
    padding-top: 25px;
    padding-bottom: 40px;
}

#proj-pic {
    display: inline-block;
    margin-right: 20px;
}

#proj-desc-box {
    display: inline-block;
    width: 50vw;
}

#proj-header {
    font-size: 23px;
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    margin-bottom: 2px;
}

#proj-time {
    font-size: 18px;
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    margin-bottom: 20px;
}


#proj-desc {
    font-size: 17px;
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    margin-right: 20px;
    margin-bottom: 3px;
}
