body {
    margin: 5px auto;
    width: 80%;
}

.top-row {
    display: inline-block;
}

.home-button {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul, footer ul {
    display: block;
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    width:100%;
    text-align: right;
}
nav ul li, footer ul li {
    display: inline-block;
    margin-right: 20px;
    text-align: right;
}
a {
    text-decoration: none;
    color: #2F4F4F;
}
a:hover {
    color: #FF6347
}

h1 {
    font-size: 3em;
    font-family: "Trebuchet", Times, 'Sans-Serif';
}

.sub-header {
    font-family:'Palatino', 'Garamond', serif;
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #333;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
