body {
    margin: 5px auto;  
}

.top-row {
    margin-left: 7.5%;
    margin-right: 7.5%;
    display: inline-block;
    height: 35px;
}

.home-button {
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    margin-top: -10px;
}

h2 {
    font-weight: 100;
    font-size: 24px;
}

header {
    height: 35px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    z-index: 1000;
}

.sticky {
    position: fixed;
    top: 0;
    padding-bottom: 10px;
    width: 100%;
    background-color: #eafff8;
    border-bottom: 1px solid #969696; 
    -webkit-transition: background-color 0.5s ease-in-out;
}

.sticky + .container {
    padding-top: 30px;
}

nav ul, footer ul {
    display: block;
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    padding: 0px;
    list-style: none;
    /*font-weight: bold;*/
    width:100%;
    text-align: right;
}
nav ul li, footer ul li {
    display: inline-block;
    margin-right: 20px;
    text-align: right;
}
a {
    text-decoration: none;
    color: #2F4F4F;
    transition: color 0.16s ease-in-out;
}
a:hover {
    color: #FF6347
}

.post-title, .blog-title {
    position: relative;
    top: 20px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Georgia', serif;
    font-size: 1.8em;
}

.meta {
    position: relative;
    top: 20px;
    text-align: center;
    font-family: 'Georgia', serif;
}

h1 {
    margin-left: 7%;
    font-size: 35px;
    font-family: "Anonymous Pro", monospace;
    font-weight: 5;
}

/*.it:hover {
    font-style: italic:
}*/

.container {
    width: 100%;
    /*background-image: url("https://calculasians.github.io/light-veneer.png");*/
}

.cover-page { 
    width: 100%;
    height: 500px;
    background-image: url("https://calculasians.github.io/CraterLake.jpg");
    box-sizing: border-box;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-page-text {
    position: relative; 
    margin-left: 400px;
    top: 50px;
}

.sub-header {
    font-family:'Palatino', 'Garamond', serif;
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #333;
}

pre {
    white-space:pre-wrap;
}

.blog-posts {
    position: relative;
    top: 5px;
    margin-left: 18%;
    margin-right: 18%;
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    font-style: italic;
    font-size: 1em;
}

p {
    margin-left: 7%;
    margin-right: 7%;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    margin-left: auto;
    margin-right: auto;
    width: 85%;   
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
}

ul.posts li {
    position: relative;
    top: 20px;
    list-style: none;
    margin-left: 7%;
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    font-style: italic;
}

#about {
    margin-left: 7%;
    margin-right: 7%;
    font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5em;
}

