<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			
			
			<!-- <header id="myHeader">
				<div class='top-row'>
					<div class='home-button'>
						<h2><a href="/">Daniel</a></h2>
					</div>
                 		</div>
                 		<div class='top-row'>
					<nav class='right'>
						<ul>
							<li><a href="#about-page">About</a></li>
	        					<li><a href="/resume">Resume</a></li>
	        					<li><a href="/blog">Writings</a></li>
	    					</ul>
					</nav>
                   		</div>	
			</header> -->
			
		
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a class="footer-text" href="https://www.linkedin.com/in/daniel-sun-203865117/">LinkedIn</a></li>
	        		<li><a class="footer-text" href="https://github.com/Calculasians/">Github</a></li>
			</ul>
			</footer>
		</body>
	</html>

<script>
$(document).ready(function() {
	window.onscroll = windowScrolled;
    	function windowScrolled() {
        if (window.pageYOffset >= $(window).height() && window.pageYOffset < $(window).height() + $("#about-page").height()) {
            $(".nav-button").css("font-weight", "lighter");
            $("#nav-about").css("font-weight", "bolder");
        } else if (window.pageYOffset >= $(window).height() + $("#about-page").height() && 
                   window.pageYOffset < $(window).height() + $("#about-page").height() + $("#experience").height()) {
            $(".nav-button").css("font-weight", "lighter");                 
            $("#nav-projects").css("font-weight", "bolder");
        } else {
        		$(".nav-button").css("font-weight", "lighter");
            $("#nav-writings").css("font-weight", "bolder");
            
        }
    }	
});

</script>
